.content
  grid-area: content
  padding: gutter-width

  &__panel
    background: white
    content-panel-box-shadow()
    border-radius: ui-border-radius
    overflow: hidden

.fullscreen
  padding: 5rem 3rem
  min-height: 100vh
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
