font-path = '../assets/fonts/'

@font-face
  font-family: 'Lato'
  src: url(font-path + 'LatoLatin-Regular.eot')
  src:
    url(font-path + 'LatoLatin-Regular.eot?#iefix') format('embedded-opentype'),
    url(font-path + 'LatoLatin-Regular.woff2') format('woff2'),
    url(font-path + 'LatoLatin-Regular.woff') format('woff'),
    url(font-path + 'LatoLatin-Regular.ttf') format('truetype')
  font-style: normal
  font-weight: normal
  text-rendering: optimizeLegibility

@font-face
  font-family: 'Lato'
  src: url(font-path + 'LatoLatin-Italic.eot')
  src:
    url(font-path + 'LatoLatin-Italic.eot?#iefix') format('embedded-opentype'),
    url(font-path + 'LatoLatin-Italic.woff2') format('woff2'),
    url(font-path + 'LatoLatin-Italic.woff') format('woff'),
    url(font-path + 'LatoLatin-Italic.ttf') format('truetype')
  font-style: italic
  font-weight: normal
  text-rendering: optimizeLegibility

@font-face
  font-family: 'Lato'
  src: url(font-path + 'LatoLatin-Medium.eot')
  src:
    url(font-path + 'LatoLatin-Medium.eot?#iefix') format('embedded-opentype'),
    url(font-path + 'LatoLatin-Medium.woff2') format('woff2'),
    url(font-path + 'LatoLatin-Medium.woff') format('woff'),
    url(font-path + 'LatoLatin-Medium.ttf') format('truetype')
  font-style: normal
  font-weight: 500
  text-rendering: optimizeLegibility

@font-face
  font-family: 'Lato'
  src: url(font-path + 'LatoLatin-Semibold.eot')
  src:
    url(font-path + 'LatoLatin-Semibold.eot?#iefix') format('embedded-opentype'),
    url(font-path + 'LatoLatin-Semibold.woff2') format('woff2'),
    url(font-path + 'LatoLatin-Semibold.woff') format('woff'),
    url(font-path + 'LatoLatin-Semibold.ttf') format('truetype')
  font-style: normal
  font-weight: 600
  text-rendering: optimizeLegibility

@font-face
  font-family: 'Lato'
  src: url(font-path + 'LatoLatin-Bold.eot')
  src:
    url(font-path + 'LatoLatin-Bold.eot?#iefix') format('embedded-opentype'),
    url(font-path + 'LatoLatin-Bold.woff2') format('woff2'),
    url(font-path + 'LatoLatin-Bold.woff') format('woff'),
    url(font-path + 'LatoLatin-Bold.ttf') format('truetype')
  font-style: normal
  font-weight: 700
  text-rendering: optimizeLegibility
